.container * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.card__image {
  width: 100%;
  max-width: 192px;
  height: 201px;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 417px;
}

.card__body {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #fff;
  width: 100%;
  max-width: 225px;
  height: 201px;
  .icon {
    width: 30px;
    height: auto;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #101820;
    text-transform: none;
    margin-right: 20px;
  }
}
