.container {
  margin: 40px 0;
  background-color: #eee;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 30px;

  .title {
    display: flex;

    h1 {
      font-weight: 700;
      font-size: 42px;
      line-height: 40px;
      color: #101820;
    }
  }

  .card__container {
    display: grid;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 12.5rem;
  }
}
