/* ELEMENT SIZES */
$header-height-desktop: 112px;
$header-height-mobile: 70px;

/* COLORS */
$color-black: #000;
$color-black-secondary: #000;
$color-white: #fff;
$color-yellow: #ffd200;
$color-yellow-hover: #f47d20;
$color-yellow-secondary: #ea963c;
$color-yellow-third: #dbe442;
$color-yellow-fourth: #fdd900;
$color-light-yellow: #f9fae2;
$color-orange: #f14d00;
$color-gray: #edece6;
$color-darkgray: #595959;
$color-lightgray: #f2f2f2;
$color-gray-hover: #4f4f51;
$color-thingray: #979797;
$color-focus: #4299e1;
$color-purple: #743f9d;
$color-darkgreen: #2f6d3d;
$color-light-green: #c0d33f;
$color-blue: #582c83;
$color-light-blue: #aad6ee;
$color-light-blue-hover: #85ccf3;
$bg-light-grey: #f5f5f5;
$outline-blue: #2d6dcc;

$desktop-h1-font-size: 60px;
$desktop-h2-font-size: 44px;
$desktop-h3-font-size: 26px;
$desktop-h4-font-size: 22px;
$desktop-h5-font-size: 18px;
$desktop-h6-font-size: 16px;
$desktop-text-font-size: 20px;
$desktop-link-font-size: 16px;

$mobile-h1-font-size: 33px;
$mobile-h2-font-size: 28px;
$mobile-h3-font-size: 20px;
$mobile-h4-font-size: 18px;
$mobile-text-font-size: 18px;
$mobile-link-font-size: 16px;
