html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Proba Pro', sans-serif;
}

a {
  margin: 0;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  transition: all 0.125s ease;
}
a:hover {
  color: #d7d7d7;
}
* {
  box-sizing: border-box;
}
img {
  width: 400px;
  height: auto;
}

@font-face {
  font-family: 'Proba Pro';
  src: url('../public/fonts/ProbaPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proba Pro';
  src: url('../public/fonts/ProbaPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
